

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Oswald:wght@200&family=Yanone+Kaffeesatz:wght@300&display=swap');
    
/*--Navigation bar--*/
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;

}
nav{
  flex: 1;
  text-align: right;
}

nav ul{
  display: inline-block;
  list-style-type: none;

}
li {
  display: inline-block;
  margin-right: 20px;
  list-style-type: none;
}
li a{
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px;
  text-decoration: none;  
}
.logo{
  display: inline-block;
  width: 300px;
  height: 70px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: rgba(117, 117, 120, 0.5);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  
}

h1 {
  text-align: center;
  font-family: Shadows Into Light;
  
}


label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="phone"],
select {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #010101;
  margin-bottom: 20px;
  box-sizing: border-box;
}
#date{
width: 200px;
height: 30px;
border-radius: 20px;
}

.btn{
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
hr{
    width: 80%;
    height: 3px;
    background-color: black;
}
.allpage{
  background-image: url(images/safari.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: auto;
}

/*-------Footer-------*/
.footer{
  background: #000000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0px 20px;
}

.footer p{
  color: #8a8a8a;
}

.footer h3{
  color: #ffff;
  
}

.footer-col-1,
.footer-col-2,
.footer-col-3{
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1{
  flex: 1;
  text-align: left;
}
.footer-col-1 img{
  width: 200px;
  margin-bottom: 5px;
}

.footer-col-2, 
.footer-col-3{
  flex-basis: 12%;
  text-align: left;
}

.footer hr{
  border: none;
  background: #b5b5b5;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  
}

.copyright{
  text-align: center;
}

/*--popup notification--*/

.popup{
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}